/* ! Variables */
:root {
    --bf-dark-grey: #2C3E50;
    --bf-light-grey: #3A546D;
    --bf-green: #1ABC9C;
}

/* ! Utility */
.py-6 {
    padding-block: 68px;
}

.star {
    width: 40%;
    max-width: 220px;
}

.star__line {
    width: 40%;
    height: 4px;
    border-radius: 5px;
}

.rounded-4 {
    border-radius: 0.5rem;
}

.bf-fz-title {
    font-size: 1.5rem;
}

.fs-7 {
    font-size: 1.125rem;
}

/* -------------------------------------------------------------------------------- */
/* ! MOBILE RULES */
/* -------------------------------------------------------------------------------- */

/* ! Layout */
.bf-container-small {
    max-width: 316px;
}

/* ! Main Header */
.main-header {
    background-color: var(--bf-dark-grey);
}

/* ! Navbar */
.main-header .fs-7 {
    font-weight: 800;
}

.bf-navbar-nav .nav-link {
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link.bf-link-white {
    color: rgba(255, 255, 255, 1);
}

/* ! Hero */
.hero {
    background-color: var(--bf-green);
}

.hero .bf-hero-img {
    max-width: 230px;
    height: auto;
}

.hero__title {
    font-size: 2.25rem;
}

.hero__subtitle {
    font-size: 1.125rem;
}

/* ! About */
.about {
    background-color: var(--bf-green);
}

/* ! Contact Me */
.contact-me label {
    white-space: nowrap;
}

.contact-me [type="submit"] {
    background-color: var(--bf-green);
    font-size: 1.125rem;
}

/* ! Main Footer Info */
.main-footer__info {
    background-color: var(--bf-light-grey);
}

.main-footer__info a {
    color: var(--bf-green);
    text-decoration: none;
}

.main-footer__info i {
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
}

/* ! Main Footer  Copy */
.main-footer__copy {
    background-color: var(--bf-dark-grey);
    font-size: 0.875rem;
}

/* -------------------------------------------------------------------------------- */
/* ! TABLET */
/* -------------------------------------------------------------------------------- */
@media (min-width: 992px) {

    /* ! Layout */
    .bf-container-small {
        max-width: 673px;
    }

    /* ! Utility */
    .star {
        max-width: 440px;
    }

    .bf-fz-title {
        font-size: 3rem;
    }

    .bf-navbar-nav .nav-link {
        font-size: 1.0625rem;
    }

    .fs-7 {
        font-size: 1.5625rem;
    }

    /* ! Hero */
    .hero__title {
        font-size: 3.75rem;
    }

}

/* -------------------------------------------------------------------------------- */
/* ! DESKTOP EXTRA LARGE*/
/* -------------------------------------------------------------------------------- */
@media (min-width: 1400px) {

    /* ! Layout */
    .bf-container-small {
        max-width: 990px;
    }

}

/* ! Regole di debug */
/* .main-header .container-lg {
    height: 90px;
    border: 1px solid red;
} */

/* .hero .container-fluid {
    height: 588px;
    border: 1px solid red;
} */

/* .portfolio .container-lg {
    border: 1px solid red;
}

.portfolio .col {
    height: 260px;
    border: 1px solid red;
} */

/* .about .col {
    height: 493px;
    border: 1px solid red;
} */

/* .contact-me .col {
    height: 684px;
    border: 1px solid red;
} */

/* .main-footer__info .col {
    height: 231px;
    border: 1px solid red;
}

.main-footer__copy .container-fluid {
    height: 110px;
    border: 1px solid red;
} */